* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: center;
    position: fixed;
}

.header {
    background-image: url("https://images.unsplash.com/photo-1482746673045-d8c155829510?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    height: 100vh;


}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 5%;

}

.header-title {
    font-size: 2.5rem;
    line-height: 1.5;
}

.header-description {
    font-size: 3.7rem;
    font-weight: bold;
    text-transform: capitalize;
}

@media (max-width:997px) {
    .header-title {
        font-size: 1.2rem;

    }

    .header-description {
        font-size: 2rem;
    }
}

.services {
    padding: 5% 15%;
}

p {
    color: grey;
}

.services i {
    color: white;
    background-color: #FFBB00;
    padding: 6% 7%;
    border-radius: 100%;
    line-height: 1;
    margin-bottom: 7%;
}

.portfolio {
    padding: 7% 10%;
    background-color: #F7F8FB;
    box-shadow: 2px 2px 7px grey;
}

.team {
    padding: 7% 10%;
    background-color: #FAFAFA;

}

.a {
    border-radius: 100%;
}

.team img {
    border-radius: 100%;
    width: 250px;
    height: 250px;

}

footer {
    margin-top: 10%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}